<!DOCTYPE html>
<html lang="en">

<head>
    <link href="style.css" rel="stylesheet">
    <title>Hello World AngularJS application</title>
</head>

<body>

    <h1>Hello World AngularJS application</h1>

    <div ng-app="myApp" ng-controller="ModalDesignController as md">
        <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <ul>
                                <li ng-repeat="item in md.items">
                                    <a href="#" ng-click="$event.preventDefault(); md.selected.item = item">{{ item }}</a>
                                </li>
                            </ul>
                            Selected: <b>{{ md.selected.item }}</b>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="md.ok()">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="md.cancel()">Cancel</button>
                        </div>
                </script> 
                <script type="text/ng-template" id="stackedModal.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
                    </div>
                    <div class="modal-body" id="modal-body-{{name}}">
                        Having multiple modals open at once is probably bad UX but it's technically possible.
                    </div>
                </script>
            
                <button type="button" class="btn btn-default" ng-click="md.open()">Open me!</button>

    </div>


    <div ng-app="myApp" ng-controller="AvailableLinesController as room">
        <div id="root" ng-click="">
            <div id="container">
                <div id={{x.name}} class="card" ng-click="room.DisplayCard(x.name)" ng-repeat="x in room.lines">
                    <h1>{{ x.name }}</h1>
                    <p1>{{ room.lineStatus }}</p1>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="app/app.module.js"></script>

</html>